.landing-page {
    background: -webkit-gradient(linear,left bottom, left top,from(rgba(49, 62, 82, 0.9)),to(rgba(49, 62, 82, 0.9))), url('../../images/brooklyn_bridge.jpg');
    background: -webkit-linear-gradient(bottom,rgba(49, 62, 82, 0.9),rgba(49, 62, 82, 0.9)), url('../../images/brooklyn_bridge.jpg');
    background: -o-linear-gradient(bottom,rgba(49, 62, 82, 0.9),rgba(49, 62, 82, 0.9)), url('../../images/brooklyn_bridge.jpg');
    background: linear-gradient(0deg,rgba(49, 62, 82, 0.9),rgba(49, 62, 82, 0.9)), url('../../images/brooklyn_bridge.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    max-height: 2040px;
    min-height: 1024px;
}
.landing-page h1 {
    text-align: center;
    color: #E4EBF1;
    font-size: 84px;
}
button.app-button {
    background-color: #26D583;
    color: #E4EBF1;
    display: block;
    margin: 0 auto;
    width: 133px;
    margin-top: 182px;
}
@media only screen and (max-width: 800px) and (min-width: 300px) {
    .landing-page h1 {
        text-align: center;
        color: #fcfcfc;
        font-size: 62px;
        margin-top: 47px;
        margin-bottom: 150px;
    }
    .startbutton {
        width: 30%;
        display: block;
        margin: 0 auto;
    }
    .landing-page{
        min-height: 700px;
        max-height: 900px;
    }
}