.login-page {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(49, 62, 82, 0.9)), to(rgba(49, 62, 82, 0.9))), url(/static/media/login.3faf7d9f.jpg) center center no-repeat;
  background: -webkit-linear-gradient(bottom, rgba(49, 62, 82, 0.9), rgba(49, 62, 82, 0.9)), url(/static/media/login.3faf7d9f.jpg) center center no-repeat;
  background: -o-linear-gradient(bottom, rgba(49, 62, 82, 0.9), rgba(49, 62, 82, 0.9)), url(/static/media/login.3faf7d9f.jpg) center center no-repeat;
  background: linear-gradient(0deg, rgba(49, 62, 82, 0.9), rgba(49, 62, 82, 0.9)), url(/static/media/login.3faf7d9f.jpg) center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
}

.login-page h1,
.signup-page h1 {
  font-size: 53px;
  text-align: center;
}

h5.app-description {
  text-align: center;
  margin-top: -17px;
}

.login-page form,
.signup-form {
  width: 100%;
  margin-top: 65px;
}

.login-inputs {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.login-page input[type="text"],
.login-page input[type="password"],
.signup-form input[type="text"],
.signup-form input[type="password"] {
  background: rgba(206, 212, 216, 0.3);
  width: 49%;
  margin: 0 auto;
  padding: 0;
  border: none;
  height: 45px;
  padding: 5px;
  color: #D7DEE4;
  display: block;
  font-size: 18px;
}

.login-page input[type="text"],
.signup-form input[type="text"] {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #D7DEE4;
}

.login-page input[type="password"] {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.signup-form input[type="text"]::-webkit-input-placeholder,
.login-page input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #D7DEE4;
  font-size: 18px;
}

.signup-form input[type="text"]::-moz-placeholder-placeholder,
.login-page input[type="text"]::-moz-placeholder-placeholder {
  /* Chrome/Opera/Safari */
  color: #D7DEE4;
  font-size: 18px;
}

.signup-form input[type="text"]:-ms-input-placeholder,
.login-page input[type="text"]:-ms-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #D7DEE4;
  font-size: 18px;
}

.signup-form input[type="text"]:-moz-placeholder,
.login-page input[type="text"]:-moz-placeholder {
  /* Chrome/Opera/Safari */
  color: #D7DEE4;
  font-size: 18px;
}

.signup-form input[type="password"]::-webkit-input-placeholder,
.login-page input[type="password"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #D7DEE4;
  font-size: 18px;
}

.signup-form input[type="password"]::-moz-placeholder-placeholder,
.login-page input[type="password"]::-moz-placeholder-placeholder {
  /* Chrome/Opera/Safari */
  color: #D7DEE4;
  font-size: 18px;
}

.signup-form input[type="password"]:-ms-input-placeholder,
.login-page input[type="password"]:-ms-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #D7DEE4;
  font-size: 18px;
}

.signup-form input[type="password"]:-moz-placeholder,
.login-page input[type="password"]:-moz-placeholder {
  /* Chrome/Opera/Safari */
  color: #D7DEE4;
  font-size: 18px;
}

.workout-page-cat {
  width: 48%;
  display: inline;
  float: left;
  text-align: center;
  margin-bottom: 100px;
}

.loginbutton,
.signupbutton {
  display: block;
  margin: 24px auto;
  width: 31%;
  background-color: #26D583;
  color: #E4EBF1;
}

input:focus {
  border-color: #D7DEE4;
  background-color: #D7DEE4;
}

.login-page p,
.signup-page p {
  width: 100%;
  text-align: center;
  margin-top: 71px;
  font-size: 18px;
}

button.app-button {
  background-color: #26D583;
  color: #E4EBF1;
}
.signup-page {
    width: 100%;
    background: -webkit-gradient(linear,left bottom, left top,from(rgba(49, 62, 82, 0.9)),to(rgba(49, 62, 82, 0.9))), url(/static/media/signup.9b045b99.jpg) center center no-repeat;
    background: -webkit-linear-gradient(bottom,rgba(49, 62, 82, 0.9),rgba(49, 62, 82, 0.9)), url(/static/media/signup.9b045b99.jpg) center center no-repeat;
    background: -o-linear-gradient(bottom,rgba(49, 62, 82, 0.9),rgba(49, 62, 82, 0.9)), url(/static/media/signup.9b045b99.jpg) center center no-repeat;
    background: linear-gradient(0deg,rgba(49, 62, 82, 0.9),rgba(49, 62, 82, 0.9)), url(/static/media/signup.9b045b99.jpg) center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
}
.signup-form input[type="password"]{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 1px solid #D7DEE4;
}
.signup-form input[type="text"].username-signup{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media only screen and (max-width: 800px) and (min-width: 300px) {
    .login-page input[type="text"],
    .login-page input[type="password"],
    .signup-form input[type="text"],
    .signup-form input[type="password"] {
      width: 72%;
    }

}